/*Style of the page*/


/* Back ground Image for all pages */

body {
    background-image: url("../img/n2.jpg");
}

* {
    box-sizing: border-box;
}


/* Navigation Bar an Links of it*/

a#nav {
    text-decoration: none;
    background-color: chocolate;
    color: aliceblue;
    padding: 20px 30px;
    width: 20px;
    margin-top: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.navBar {
    margin-top: 50px;
    margin-left: 10px;
}

a#nav:hover {
    background-color: brown;
}

.selected {
    background-color: tomato;
}

.navigation {
    display: flex;
    justify-content: center;
}


/* Logo */

img {
    max-width: 130px;
    max-height: 130px;
    padding-left: 30px;
    margin-top: 20px;
}


/*Style of the TITLE*/

h1 {
    text-align: center;
    margin-top: 30px;
    letter-spacing: 7px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}


/*Layout for the columns for the home, login, registration and logout page*/

.column1,
.column2,
.column3 {
    float: left;
    margin: 20px;
}

.column2 {
    width: 35%;
    padding: 50px;
}

.column1,
.column3 {
    width: 27%;
    margin-left: 40px;
    margin-top: 80px;
}

.columnas {
    display: flex;
    justify-content: center;
    margin: auto;
}


/* Style of the columns*/

fieldset {
    border-radius: 20px;
    padding: 20px;
    background-color: chocolate;
    color: aliceblue;
}

fieldset p {
    padding: 10px 80px;
}

legend {
    background-color: chocolate;
    border: 1px solid #efefef;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
}


/*Home page and  Logout Buttons*/

a.button {
    border: 1px;
    border-radius: 10px;
    color: black;
    padding: 32px 64px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 25px;
    margin: 20px 40px;
}

a.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

a.button1:hover {
    background-color: #4CAF50;
    color: white;
}

a.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

a.button2:hover {
    background-color: #008CBA;
    color: white;
}

.buttonPos {
    display: block;
}


/*GAME PAGE*/


/*Layout for game and stats*/

.gameLayaout,
.gameStats {
    float: left;
    padding: 10px;
}

.gameLayaout {
    width: 70%;
    margin: 40px;
    margin-top: 10px;
}


/*Provisional square where will go the game   */

.provisional {
    height: 500px;
    font-size: large;
    font-size: 200%;
}

.gameStats {
    width: 20%;
}


/*Style for login and register page and forms*/

.formField {
    border-bottom: 1px solid #efefef;
    margin: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.title {
    float: left;
    width: 100px;
    text-align: right;
    padding-left: 10px;
}


/*Button Style*/

.submit {
    text-align: center;
    padding: 10px 20px;
}

.submit :hover {
    cursor: pointer;
}


/*Ranking page*/

.rankingPage table {
    width: 700px;
}

.rankingPage fieldset {
    height: 400px;
}


/*Ranking Table Style*/

.globalTable th,
.globalTable td {
    padding: 7px 50px 10px 10px;
}

.globalTable th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: left;
}

.personalTable th,
.personalTable td {
    padding: 7px 50px 10px 10px;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: left;
}

.personalTable th {
    text-transform: uppercase;
}

tr:hover {
    background-color: tomato;
}

.rankingPage {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.rankingTable {
    float: left;
    width: 70%;
    padding: 10px;
}


/*Footer Style*/

.footer {
    position: fixed;
    left: auto;
    bottom: 0;
    width: 100%;
    background-color: chocolate;
    color: white;
    text-align: center;
}


/*Using list for the links*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    margin-left: 50px;
}

li a {
    display: block;
    padding: 8px;
    background-color: chocolate;
    color: black;
    text-decoration: none;
}

li a:hover {
    color: #efefef;
}

li.contact {
    float: right;
    margin-right: 50px;
}